body {
  background-color: #00D128;
  margin-left: 0;
  margin-right: 0;
  margin-top: auto;
  font-family: 'Staatliches', cursive;
  color: darkgreen;
  display:block;
}

body a {
  text-decoration: none;
  color: #F1E853;
  transition: 0.3s ease-in-out;
}

body a:hover {
  color: white;
}
body ul{
  list-style-type: none;
}

/* NAV BAR (OPTIONAL) - make sure to change header img{margin-top:50px} */
 /* div.nav {
   background-color: darkgreen;
   position: fixed;
   z-index: 10;
   width: 100%;
   margin-top:auto;
   text-align: justify;
   display: block;
   list-style: none;
 }

div nav ul li{
  padding: 0px 30px;
  margin-left: 0px auto;
} */

header {
  background-color: darkgreen;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

header img {
  border-radius: 50%;
  border: 5px solid #F1E853;
  padding: 10px 10px;
   margin-top: 10px;/*change if you want nav bar */
}

header h1 {
  font-size: 50px;
  color: #F7F5D0;
  padding-bottom: 20px;
  margin-top: auto;
}

main div p {
  margin-right: 10px;
  color: white;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

main img {
  max-width: 100%;
}

main ul li {
  list-style: none;
  padding: 10px 10px;
}



.about-img{
  background:white;
  transition: 0.3s ease-in-out;
}
.about-img:hover{
  opacity: 60%;
  }

.ul-characteristics {
  line-height: 20px;
}

h2 {
  margin: 30px 0px 10px;
}

div ul li {
  text-align: center;
  font-size: 20px;

}

div.friends p {
  text-align: center;
  background-color: darkgreen;
  padding: 10px 50px;
  width: 100%;
}

p {
  font-size: 20px;
}

p.caption {
  color: gray;
  opacity: 70%;
  font-style: italic;
  margin-top: 0px;
  text-align: right;
}

footer {
  text-align: center;
  background-color: yellow;
  padding: 10px 10px;
}

/* classes start */
.friends-list {
  padding: 0px;
}

.caption {
  font-size: 20px;
}



/* friends hover optins */
/* uravity */
li.friend-img-uravity {
  background: none;
  transition: all 0.5s ease-in-out;
}

li.friend-img-uravity:hover {
  transform: translate(0px, -20%);
  /* transform:rotate(360deg); */
}
li.friend-img-uravity:hover {

    -webkit-animation-name: thumb;
    -webkit-animation-duration: 1000ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: rotate(3deg), transform: translate(0px, -20%); }
    50% { -webkit-transform: rotate(-3deg); }
    100% { -webkit-transform: rotate(3deg), transform: translate(0px, 20%); }
}

/* deku */
li.friend-img-deku {
  background: none;
  transition: 0.3s ease-in-out;
  z-index: 10;
}

li.friend-img-deku:hover {
  background: darkgreen;
  transform: scale(1.55);

}

/* invisible girl */
li.friend-img-ig {
  background: none;
  transition: 0.3s ease-in-out;
}

li.friend-img-ig:hover {
  opacity: 0%;
}
